{% extends "base.html" %}
{% block title %}{% endblock %}

{% block body %}
<div class="jumbotron p-2" style="background-color: transparent;">
    <div class="container mt-2">
        {% if found == False %}
        <div class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
            <b>That's a shame!</b>, Couldn't find what you were looking for, pls Try again. In the meantime, here's ↬ <b>"{{ data["title"] }}"</b>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-8">
                <div class="row p-1">
                    <button type="button" id="contact" class="btn btn-link" style="color: white; height: 45px; text-decoration: none; font-size: 20px;">Contact</button>
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#about" style="color: white; height: 45px; text-decoration: none; font-size: 20px;">About</button>
                    <!-- Modal -->
                    <div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document" style="color: black;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Hey there!</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                        
                                <div class="modal-body">
                                    <p>If you're wondering if it's worth watching ... You're in the right place 😋.</p>
                                    <p>This website will help you decide which show to watch based on episode rating trends. All you have to do is input a show's name into the search box and you'll see the episode rating trend chart and some other cool data.</p>
                                    <p>If you liked it, share it with your friends ... 🤩</p>
                                    <p class="text-center">
                                        <button class="btn btn-link"data-sharer="facebook" data-hashtag="isitworthwatching" data-url="https://bit.ly/2YuKkdV"><i class="fab fa-facebook fa-2x"></i></button>
                                        <button class="btn btn-link" style="margin-left: -5px;" data-sharer="whatsapp" data-title="" data-url="https://bit.ly/2YuKkdV"><i class="fab fa-whatsapp fa-2x" style="color: #1ebea5;"></i></button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <form action="/" method="POST">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search for any TV show or series ..." required autocomplete="off" style="height: 45px; font-size: 18px;">
                        <div class="input-group-append">
                            <button class="btn btn-warning" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- <div class="row" style="margin-top: 7px;">
            <div class="col-8"></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <label>You can try: <span id="typed"></span></label>
            </div>
        </div> -->

        <h1 class="display-3 mt-4" id="title" style="margin-bottom: -10px;">{{ data["title"] }}</h1>
        <!-- <label class="text-secondary ml-1">Or Try → <span id="typed"></span></label> -->
        <p class="mt-2">{{ data["plot"] }}</p>
        <p style="line-height: 35px;">
            {% for genre in data["genre"] %}
            <span class="badge badge-pill badge-warning" style="font-size: 18px;">{{ genre }}</span>
            {% endfor %}
        </p>
        <br>
        <h2>Episodes rating trend <small>(based on {{ data["episodes"]|length }} episodes)</small></h2>
        <canvas id="myChart" height="80"></canvas>
        <br>
        <h1 class="display-5">FYI ...</h1>
        <ul style="list-style-type:disc;">
            <li>Release date → {{ data["released"].replace(".", "") }}</li>
            <li>IMDB rating → {{ data["imdb"]["rating"] }}/10 (based on {{ data["imdb"]["votes"] }} votes)</li>
            <li>Awards → {{ data["awards"].replace(".", "") }}</li>
            <li>Seasons → {{ data["num_of_seasons"] }}</li>
            <li>Languages → {{ data["language"].replace(".", "") }}</li>
            <li>Locations → {{ data["country"].replace(".", "") }}</li>
            <li>Cast → {{ (", ".join(data["actors"]).replace(".", "")) }}</li>
        </ul>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script>
    new Chart(document.getElementById("myChart"), {
        type: 'line',
        data: {
            labels: [{% for item in labels %}"{{item}}",{% endfor %}],
            datasets: [{ 
                data: [{% for item in values %}{{item|tojson|safe}},{% endfor %}],
                borderColor: "#ffc107",
                fill: true
            }]
        },
        options: {
            tooltips: {
                enabled: false
            },
            legend: {
                display: false
            },
            scales: {
                yAxes: [{
                    ticks: {
                        max: 10,
                        min: 0,
                        stepSize: 1
                    }
                }]
            }
        }
});

$('#contact').on("click", function(event) {
    document.location.href = "mailto:sideprojects.inbox@gmail.com?subject=Let's Talk"
});

var options = [
    'Game of Thrones',
    'Queen of the South',
    'Dexter',
    'When They See Us',
    'House of Cards',
    'Homeland',
    'Breaking Bad',
    'Money Heist'
]

// remove the current series name
options.splice(options.indexOf($('#title').html()), 1);

var typed = new Typed('#typed', {
    strings: options,
    backDelay: 2000,
    backSpeed: 20,
    typeSpeed: 50,
    loop: true,
    loopCount: Infinity,
    shuffle: false,
    smartBackspace: false,
});
</script>
{% endblock %}