{% extends "base.html" %}
{% block title %}{% endblock %}

{% block body %}
<div class="container">
    <nav class="navbar navbar-dark bg-dark">
        <ul class="navbar-nav ml-auto"></ul>
        <div class="row">
            <form action="/" method="POST">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search any TV show or series ..." style="font-size: 18px; width: 260px;" required autocomplete="off">
                    <div class="input-group-append">
                        <button class="btn btn-warning" type="submit"><b style="font-size: 18px;">SEARCH</b></button>
                    </div>
                </div>
            </form>
            <button type="button" id="contact" class="btn btn-outline-secondary mr-3 ml-2" style="font-size: 18px;"><b>Let's Talk</b></button>
        </div>
    </nav>

    <div class="jumbotron mt-0" style="background-color: transparent;">
        {% if found == False %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="font-size: 20px; margin-top: -25px;">
            <b>That's a shame!</b>, Couldn't find what you were looking for, pls Try again. In the meantime, here's ↬ <b>"{{ data["title"] }}"</b>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        <h1 class="display-3">{{ data["title"] }}</h1>
        <p style="margin-top: -10px; font-size: 22px;">{{ data["plot"] }}</p>
        <p>
            {% for genre in data["genre"] %}
            <span class="badge badge-pill badge-warning" style="font-size: 18px;">{{ genre }}</span>
            {% endfor %}
        </p>
        <br>
        <h1 class="display-5">Episodes rating trend <small style="font-size: 22px;">(Based on {{ data["episodes"]|length }} episodes)</small></h1>
        <canvas id="myChart" height="80"></canvas>
        <br>
        <h1 class="display-5">FYI ...</h1>
        <ul style="list-style-type:disc; font-size: 22px;">
            <li>Release date → {{ data["released"].replace(".", "") }}</li>
            <li>IMDB rating → {{ data["imdb"]["rating"] }}/10 (based on {{ data["imdb"]["votes"] }} votes)</li>
            <li>{{ data["awards"].replace(".", "") }}</li>
            <li>{{ data["num_of_seasons"] }} seasons</li>
            <li>Language → {{ data["language"].replace(".", "") }}</li>
            <li>Locations → {{ data["country"].replace(".", "") }}</li>
            <li>Cast → {{ (", ".join(data["actors"]).replace(".", "")) }}</li>
        </ul>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script>
    new Chart(document.getElementById("myChart"), {
        type: 'line',
        data: {
            labels: [{% for item in labels %}"{{item}}",{% endfor %}],
            datasets: [{ 
                data: [{% for item in values %}{{item|tojson|safe}},{% endfor %}],
                borderColor: "#ffc107",
                fill: true
            }]
        },
        options: {
            tooltips: {
                enabled: false
            },
            title: {
                display: false,
                text: "{{ data['title'] }}"
            },
            legend: {
                display: false
            },
            scales: {
                yAxes: [{
                    ticks: {
                        max: 10,
                        min: 0,
                        stepSize: 1
                    }
                }]
            }
        }
});

$('#contact').on("click", function(event) {
    document.location.href = "mailto:sideprojects.inbox@gmail.com?subject=Let's Talk"
});
</script>
{% endblock %}